@mixin createBox($width, $height, $bRadius, $bgColor, $margin) {
  width: $width;
  height: $height;
  border-radius: $bRadius;
  background-color: $bgColor;
  margin: $margin;
  transition: 0.3s all ease-in-out;
}
