// colors
$medium-pink: rgb(255, 204, 204);
$dark-pink: rgb(223, 153, 153);
$light-grey: #ddd;
$dark-grey: grey;
$hover: rgba(255, 204, 204, 0.301);
$error-red: red;
$hoverBgColor: #6ef32191;
$hoverBgColor2: rgba(131, 245, 65, 0.329);

//Screen-sizes
$xs-size: 430px;
$sm-size: 560px;
$md-size: 630px;
$lg-size: 800px;
$xl-size: 900px;
